@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

@custom-variant layout {
	@media (width >= 70rem) and (height >= 35rem) {
		@slot;
	}
}

@custom-variant layout-sm {
	@media (width >= 70rem) and (height >= 47rem) {
		@slot;
	}
}

@custom-variant only-touch {
	@media (hover: none) {
		@slot;
	}
}

@custom-variant only-mouse {
	@media (hover: hover) {
		@slot;
	}
}
