@import 'tailwindcss';

@import 'swiper/css';

@import './custom-variants.css';
@import './animations.css';
@import './utilities.css';

@theme {
	--breakpoint-xs: 30rem;
	--breakpoint-layout-breakpoint: 70rem;

	--font-heading: 'Circular STD', 'sans-serif';

	--color-accent-blue: #00a5bc;
	--color-content-light: #242424;
	--color-content-dark: #c0c0c0;
	--color-backdrop: #1e1e1e;

	--color-glass-light: #e9e9e9;
	--color-glass-dark: #2e2e2e;

	--color-dropdown-dark: #191819;

	--text-md: 1.0625rem;

	--shadow-dialog: rgb(0 0 0 / 40%) 0px 30px 90px;
	--shadow-dialog-inverted: rgb(120 120 120 / 40%) 0px 30px 90px;

	--shadow-drawer: 0 -20px 60px -15px rgb(0 0 0 / 5%), 0 -8px 25px -6px rgb(0 0 0 / 2%);
	--shadow-drawer-inverted: 0 -20px 60px -15px rgb(255 255 255 / 2%), 0 -8px 25px -6px rgb(255 255 255 / 1%);
}

@layer base {
	::selection {
		@apply bg-accent-blue/10 text-accent-blue dark:bg-accent-blue/80 dark:text-white;
	}

	.disable-transitions * {
		@apply !transition-none;
	}

	a {
		@apply focus-visible:ring-accent-blue/40 rounded-lg transition-all outline-none [-webkit-user-drag:none] [user-drag:none] focus-visible:ring-4;
	}

	img {
		@apply pointer-events-none select-none [-webkit-user-drag:none] [user-drag:none];
	}

	p strong,
	p b {
		@apply font-semibold text-black dark:text-white;
	}

	kbd {
		@apply inline-block rounded-lg border border-b-2 border-black/15 bg-black/5 px-1.5 py-0.5 text-xs leading-none font-bold dark:border-white/10 dark:bg-white/10 dark:text-white;
	}

	@media (min-width: 601px) {
		ol[data-sonner-toaster] {
			--width: 540px !important;
		}
	}
}

@font-face {
	font-family: 'Circular STD';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('CircularStd-Black.woff2') format('woff2');
}
