@import "tailwindcss";

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));
@custom-variant layout {@media (width >= 70rem) and (height >= 30rem) { @slot }}

@theme {
	--breakpoint-xs: 30rem;

  --font-heading: "Circular STD", "sans-serif"; 

	--color-accent-blue: #00a5bc;

	--color-content-light: #191919;
	--color-content-dark: #d0d0d0;

	--text-md: 1.0625rem;
}

@layer base {
	a {
		@apply rounded-lg outline-none focus-visible:ring-4 focus-visible:ring-accent-blue/40 transition-all;
	}
}

@font-face {
	font-family: "Circular STD";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("CircularStd-Black.woff2") format("woff2");
}